@import "scroll-behavior-polyfill";

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #ffffff;
    top: 0px;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 999999;
}

header hr {
    width: 85%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le contenu horizontalement */
    position: relative; /* Nécessaire pour positionner l'icône à droite */
}

.title {
    flex: 1; /* Prend toute la largeur disponible pour centrer le texte */
    text-align: center; /* Centre le texte horizontalement */
}

.icon {
    position: absolute;
    right: 25px; /* Place l'icône à droite */
}

.icon svg {
    width: 30px;
    height: 30px;
}

main {
    margin: 20px;
}

#file-upload {
    margin-bottom: 20px;
}

#file-list {
    max-height: 400px;
    overflow-y: auto;
}

#folder-navigation {
    margin-top: 10px;
}

.file-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.file-item:hover {
    background-color: #f0f0f0;
}

.file-item p {
    margin: 0;
}

#fileInput {
    font-size: 15px;
    color: black;
    transition-duration: 1s;
}

.import {
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 20px;
    position: fixed;
    z-index: 999999;
    bottom: 25px;
    left: 10px;
}

input::file-selector-button {
    background-color: #907ad6;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 40px;
}

input {
    transition-duration: 0.5s;
}

input:hover, input:after {
    color: white;
    background-color: #4f518c;
    padding: 5px;
    margin: 0px;
}

button {
    font-size: 15px;
    background-color: #907ad6;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 85%;
    transition-duration: 0.5s;
}

button:hover, button:after, #fileInput:hover, #fileInput:after {
    color: white;
    background-color: #4f518c;
    border-radius: 10px;
}

li button {
    margin-top: 10px;
}

li {
    width: 260px;
    max-height: 260px;
    background-size: cover;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #dabfff;
    background-color: #dabfff;
    color: white;
    text-decoration: none;
    list-style: none;
    transition-duration: 0.5s;
}

li img {
    margin-top: 15px;
}

li:hover, li:after {
    border-radius: 10px;
    color: lightgrey;
}

li h3 {
    max-width: 245px;
    color: black;
}

a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

footer {
    color: white;
    background-color: #2c2a4a;
    width: 98%;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

footer h1, footer h2, footer h3 {
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
footer a:hover, footer a:after {
    color: #dabfff;
}

img {
    border-radius: 20px;
    transition-duration: 0.5s;
}

img:hover, img:after {
    border-radius: 10px;
    filter: grayscale(30%);
}

/* Ajoutez cette règle CSS pour que les spans soient affichés sur la même ligne */
span {
    display: inline-block;
    margin: 15px; /* Ajoutez une marge à droite pour l'espace entre les spans */
}

#loadBar {
    visibility: hidden;
    height: 0px;
}

.loadBarElem {
    display: inline-block;
}

hr {
    text-decoration: none;
    background-color: 1px solid #4f518c;
}

/* Nouvelle règle CSS pour le bouton "+" */
#addFileButton {
    font-family: 'Arial';
    font-size: 28px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

#addFileButton:hover {
    background-color: #45a049;
}

#editor-container {
    border-radius: 15px;
    background-color: white;
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#editor-container button {
    margin-top: 15px;
}

#closeV {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#my-video {
    display: none;
    border-radius: 15px;
    transition-duration: 1s;
}

video {
    border-radius: 15px;
    width: 70%;
    transition-duration: 1s;
}

span .vjs-icon-placeholder, .vjs-no-js, .video-js {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.backToTop {
    border-radius: 25px;
    position: fixed;
    z-index: 999999;
    bottom: 0px;
    right: 15px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.backToTop:hover, .backToTop:after {
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
}

.backToTop img {
    width: 50px;
    height: 50px;
}

#sortDefault, #sortAlphabetical, #sortAntiAlphabetical {
    margin-top: 15px;
}

#donate-button-container {
    margin-bottom: 15px;
}

.log input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;

}

.log input:over, input:after {
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}

.allowCookies {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-popup {
    width: 70%;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.cookie-popup p {
    margin: 0;
    margin-right: 10px;
}

.cookie-popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.cookie-popup button:hover {
    background-color: #45a049;
}

@media (max-width: 1024px) {
    .cookie-popup {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .cookie-popup {
        width: 590px;
    }
}